<div class="wrapper animate__animated animate__fadeInDown">
    <div class="section1">
        <div class="name">
           LOGO
        </div>
    </div>

    <div class="section2">
    <div class="links d-flex flex-nowrap animate__animated animate__fadeInUp ">
        <div class="block col-12 col-lg-4" *ngFor="let linkobjeto of links">

            <a [href]="linkobjeto.link" target="_blanck">

            <div class="block-in">
                <span [innerHTML]="linkobjeto.icon"></span>
            </div>

        </a>
        </div>
    </div> 
</div>

</div>
