.wrapper{
    display: flex;
    justify-content: space-between;
    padding: 0 1rem;
    align-items: center;
    align-content: center;
    height: 4rem;
    background:linear-gradient(to bottom,black,white);
    box-shadow:m 100px 100px 80px rgba(0, 0, 0, 0.44);
}
.section2{
    .list-menu{
        display: flex;
        list-style: none;
        margin: 0;
        padding: 0;
        cursor: pointer;
        transition: all ease 200ms;
        &:hover{
            opacity:  .9;
        }
        padding:0 .8rem;
    }

    .item-number{
      
        padding: 0 .5rem;
    }
}