<div class="wrapper animate__animated animate__fadeInDown">
    <div class="section1">
        <div class="name" >
            <i class="uil uil-whatsapp"></i>
        </div>
        <h3 class="tel">+57 3175121308</h3>
    </div>

    <div class="section2">
    <div class="links d-flex flex-nowrap animate__animated animate__fadeInUp ">
        
        <div class="block col-12 col-lg-4" *ngFor="let linkobjeto of links">

            <a [href]="linkobjeto.link" target="_blanck">

            <div class="block-in">
                <span [innerHTML]="linkobjeto.icon"></span>
            </div>

        </a>
        </div>
    </div> 
</div>

</div>
