<div class="wrapper">
    <div class="pretitle animate__animated animate__fadeInUp animation-1">Hola Bienvenido mi nombre es</div>
    <h1 #asTitle class="title animate__animated animate__fadeInUp animation-3"></h1>
    <h2 class="sub-title  animate__animated animate__fadeInUp animation-3">Soy Desarrollador Web</h2>
    <p class="description animate__animated animate__fadeInUp animation-5">
        Apasionado por el desarrollo con actitudes fontend y de diseño,
        amante de los retos y de contribuir positivamente con mi conocimiento
    </p>
    <hr>
    <h3  class="conocer  animate__animated animate__fadeInUp animation-3">Conoce un poco mas sobre mi</h3>

    <div class="container d-grid gap-2 col-6 mx-auto">
        <div class="links  animate__animated animate__fadeInUp ">
                <button (click)="download()" class="btn draw-border col-12 mx-auto ">Hoja de vida</button>
        </div>
    </div>
</div>