<h1 class="tituloproyectos">MI PORTAFOLIO</h1>

<div class="container d-flex">
        <!-- <div class="container d-grid gap-2 col-12 mx-auto"></div> -->
        <button type="button" class="btn draw-border  btn-lg col-5 mx-auto animate__animated animate__fadeInUp">
                Proyectos
        </button>
        <button type="button" class=" btn draw-border  btn-lg col-5 mx-auto animate__animated animate__fadeInUp">
                Git Hub
        </button>
</div>

<div class="imagen">
        <img src="../../assets/perfil.jpg" alt="" class="img">
</div>


<p class="info">Portafolio Desarrollado en Angular js</p>