.wrapper{
    display: flex;
    
    flex-wrap: wrap;

.block-proyect{
    height: 15rem;
    padding: .25rem;
    display: block;

    .block-proyect-in{
        background-color: #cacaca2e;
        width: 100%;
        height: 100%;
        margin: 1rem;
        }
    }   
}